
.wrapper{
    text-align: center;
    background-color: #F5F5F5
}

.title{
    margin-top: 100px;
    margin-bottom: 30px;
}

.idWrapper{
    margin-bottom: 5px;
}

#id, #pw{
    width: 400px;
    height: 40px;
    margin-left: 5px;
}

.loginBtn{
    background-color: #C6D5E3;
    border: none;
    margin-top: 50px;
    width: 200px;
    height: 40px;
}

.loginForm{
    height: 85vh;
}

.footer{
    width: 100vw;
    height: 30px;
    background-color: green;
}