<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="footer.css" type="text/css" rel="stylesheet">
</head>
<body>
    <div id="wrapper">
        <div class="inform">
            <div>GitHub</div>
            <div>Email : jorupaza@gachon.ac.kr</div>
            <div>Copyright 2023.jorupaza All Rights Reserved</div>
        </div>
        <div class="logo">
            <img src="http://ceprj.gachon.ac.kr:60002/views/img/logo.jpg" alt="logo" class="logoImage">
        </div>
    </div>
</body>
</html>