<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link href="menu.css" type="text/css" rel="stylesheet">
    <script>
    </script>
</head>
<body>
    <div class="menuWrapper">
        <div class="menu1">
            <a href="outline.html">개요</a>
        </div>
        <div class="menu2">
            <div class="menu2-1">사용자 관리</div>
            <a href="userSearch.html"><div class="menu2-2">사용자 조회</div></a>
        </div>
        <div class="menu3">
            <div class="menu3-1">데이터 관리</div>
            <a href="ottSearch.html"><div class="menu3-2">OTT 콘텐츠 데이터 조회</div></a>
            <a href="ottAdd.html"><div class="menu3-3">OTT 콘텐츠 데이터 추가</div></a>
        </div>
        <div class="menu4">
            <div class="menu4-1">학습 관리</div>
            <div class="menu4-2">데이터 학습</div>
            <div class="menu4-3">학습 성능 모니터링</div>
        </div>
        <span class="out">나가기</span>
    </div>
</body>
</html>